@tailwind base;
@tailwind components;
@tailwind utilities;

.response {
    background-color: #1F2937;
    color: #fff;
    padding: 2em;
}

.input {
    background-color: #374151;
    color: #fff;
    padding: 2em;
}

.prompt_form {
    background-color: #374151;
    color: #fff;
    padding: 2em;
}
